# Sanity Config
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production

# EmailJS Config
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_AUTO_REPLY_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
